<% include ../partials/header %>
<div class = "container-fluid" >
    <div class ="row">
        <div class = "col-sm">
            <%- include('../partials/team', {team:team, players:players}); %>
        </div>
        <div class = "col-sm">
            <%- include('../partials/fixture', {fixtures:fixtures}); %>
        </div>
        <div class = "col-sm">
            

        </div>
    </div>
</div>


<% include ../partials/footer %>