
<% include partials/header %>

<div class = "container" >
    <div class ="row">
        <div class = "col-sm"></div>
        <div class = "col-lg-10">
              <%= match.homeTeam.name %> <%= match.homeGoals %> - <%= match.awayGoals %> <%= match.awayTeam.name %>
        </div>
        <div class = "col-sm"></div>
    </div>
</div>

<% include partials/footer %>
